{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap" style="padding:0 0 0 0" align="middle">
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin:0 0 0 0">
  <tr>
  <td width = "90%" style="padding:0 0 0 0">
  <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">Gao Zhi</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
	  </nav>
    </div>
  </td>
  <td align="right">
  <a target="_blank" href="https://www.whu.edu.cn"><image src = "https://www.whu.edu.cn/__local/2/93/CE/5D08442CD54BE47483CAB43E3B7_68B00D8E_185D7.png" width = "50"></a>
  </td>
  </tr>
  </table>
  </div>
</div>